{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<div class="container container-fluid" id="wrap">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header" id="tit">
						<span class="pull-right"><button class="btn btn-info btn-sm" id="chat_iframe">纯净模式</button></span>
					  	<h4>{$roomTitle}&nbsp;&nbsp;&nbsp;人数:<span class="text-info pcount" style="font-size:16px;padding:0 10px;"></span>人&nbsp;&nbsp;&nbsp;消息:<span class="text-info mcount" style="font-size:16px;padding:0 10px;">0</span>条	
						  	<p class="text-warning" style="margin-top:10px;padding:0px 20px;font-size:14px;">
						  	<span>({$roomWord})</span>
						  	</p>
						  	
						</h4>
					</div>

						{eq name="$creator" value="$Think.session.user_name"}
							<button id="closeGroup" type="button" class="btn btn-info btn-danger">解散房间</button>
						{/eq}

						<div class="row">
							<div class="col-md-8">
								<div class="box" style="height:400px;background:#d0e7e7;overflow-y:scroll;">
									<div class="chat" style="height:auto;background:#d0e7e7;">																				
									</div>
								</div>
								
								<div class="form-group">
									<input type="text" style="width:89%;float:left;" class="form-control" name="message" id="message" value="" />
									<button id="send" type="button" class="btn btn-info btn-sm" style="width:9%;outline:none;padding:7px 0px;">发送</button>
								</div>
							</div>
							<div class="col-md-3" style="margin-left:10px;">
								<div>
									<h4>所有成员&nbsp;&nbsp;<button class="btn btn-success btn-sm">刷新</button></h4>
									<ul class="list-group" id="person">
										
									</ul>
									
										<h4>黑名单</h4>
										<ul class="list-group" id="black">
											{volist name="blackList" id="black" empty="<li class='list-group-item'>无</li>"}
												<li class="list-group-item">
													<span>{$black}</span>
													<button class="btn btn-danger btn-sm pull-right" data="{$black}" style="padding:2px 10px;" onclick="removeBlack(this)">解除</button>
												</li>
											{/volist}
										</ul>
									
								</div>
							</div>
						</div>
						<input type="hidden" id="userName" value="{$Think.session.user_name}"/>
						<input type="hidden" name="" id="room" value="{$roomTitle}" />
						<input type="hidden" name="" id="roomKey" value="{$roomKey}" />
						<input type="hidden" name="" id="creator" value="{$creator}" />
						<input type="hidden" name="" id="userImg" value="{$userInfo.user_img}">	
						
				</div>
		
		<!-- <script type="text/javascript" src="/static/js/chat.js"></script> -->
		<script type="text/javascript">

				if(window.screen.width < 500){
					// console.log($('#send').outerHeight(true));
					$('#message').css({
						'height':$('#send').outerHeight(true)+12.6+'px',
						'font-size':'20px'
					});
				}

				$('#chat_iframe').on('click',function(){
					if($(this).html() == '纯净模式'){
						$('nav').css('display','none');
						$('body').css({
							'paddingTop':'0',
							'background':'#dde5c5'
						});

						console.log();
						if(window.screen.width > 500){
							$('.box').css({
								'height':window.screen.height - 350 +'px'
							});
						}else{
							$('.box').css({
								'height':window.screen.height +'px'
							});
						}
						// $('#wrap').css({
						// 	'height':'100%'
						// });
						// $('#wrap .row').css({
						// 	'height':'100%'
						// });
						// $('#wrap .row .col-md-12').css({
						// 	'height':'100%'
						// });
						// $('#wrap .row .col-md-12').css({
						// 	'height':'100%'
						// });
						$(this).removeClass('btn-info').addClass('btn-default');
						$(this).html('普通模式');
						return false;
					}else{
						$('nav').css('display','block');
						$('body').css({
							'paddingTop':'120px',
							'background':'#f0f2f5',
						});
						$('.box').css({
							'height':'400px'
						});
						$(this).removeClass('btn-default').addClass('btn-info');
						$(this).html('纯净模式');
					}
					// console.log('开启纯净模式');

					// var url = 'http://xubeixyz123.com';

					// var scnWidth = screen.availWidth;//浏览器的屏幕的可用宽度

					// var scnHeight = screen.availHeight;

					// window.open(url,'','height=400,width=600,top=50,left=100,channelmode=yes,fullscreen=yes,location=no,menubar=no,resizable=no,scrollbars=no,status=no,titlebar=no,toolbar=no');
					

				})

				$(".box").scrollTop($(".box")[0].scrollHeight);

				//连接websocket服务端
				var ws = new WebSocket("ws://127.0.0.1:1998");

				ws.onopen = function(evt){
					// alert('连接成功');

					//发送房间号
					var data = {'type':1,'message':'','roomKey':$('#roomKey').val(),'user':$('#userName').val()};					
					ws.send(JSON.stringify(data));
				}

				ws.onmessage = function(evt){
					var received_msg = evt.data;
					// console.log(received_msg);
					renderMessage(received_msg); 
				}

				ws.onclose = function(evt){
					console.log('服务器断开连接');
					alert('服务器断开连接');
					window.location.href = "{:url('comunity/index')}";
				}

				//监听连接错误信息
				ws.onerror=function(evt,e){
					console.log('错误:'+evt.data);
				}

				//发送消息
				$('#send').on('click',function(){
					
					var reg = /^\s*$/;
					if(reg.test($('#message').val())==true){
						alert('请输入内容');	
						$('#message').val('');
						return false;
					}

					var data = {'type':0,'message':$('#message').val(),'roomKey':$('#roomKey').val(),'user':$('#userName').val(),'img':$('#userImg').val()};
					$('#message').val('');		
					ws.send(JSON.stringify(data));
					return false;
				})


				$("#message").bind("keydown",function(e){
			        // 兼容FF和IE和Opera    
				    var theEvent = e || window.event;    
				    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;    
				    if (code == 13) {    
				        //回车执行查询
				            $('#send').click();
				       }
				});

				
				//渲染消息
				function renderMessage(msg){
					var msg =JSON.parse(msg);

					//用户已存在该房间
					if(msg.type == -1){
						if($('#userName').val() == msg.data){
							ws.close();
							// alert('你的会话已转移到新窗口');
							// window.location.href = "{:url('comunity/index')}";

						}
					}

					//房间用户发送消息	type=0
					if(msg.type == 0){
						if(msg.from == $('#userName').val()){
							//自己发送的信息
							if(msg.img == ''){
								msg.img = '/static/images/userimg/1.jpg';
							}

							var html = '<p style="padding:10px;margin-bottom:5px;position:relative;" class="text-right"><span class="text-left" style="word-break:break-all;display:inline-block;max-width:150px;height:auto;padding:10px;letter-spacing:1px;border:1px solid #000;color:#0edcff;background:#111;border-radius:10px;">'+msg.data+'</span><span style="font-size:10px;">&nbsp;&nbsp;&nbsp;&nbsp;'+msg.from+'&nbsp;&nbsp;<img src='+msg.img+' class="img-circle" style="width:40px;height:40px;margin:5px;"/></span></p>';

							$('.chat').append(html);

							//本地显示消息条数
							var mcount = parseInt($('.mcount').html()) + 1;
							$('.mcount').html(mcount);
						}else{
							if(msg.img == ''){
								msg.img = '/static/images/userimg/1.jpg';
							}
							var html = '<p style="padding:10px;margin-bottom:5px;position:relative;"><span style="font-size:10px;"><img src='+msg.img+' class="img-circle" style="width:40px;height:40px;margin:5px;"/>'+msg.from+'&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="word-break:break-all;display:inline-block;max-width:150px;height:auto;padding:10px;letter-spacing:1px;border:1px solid #000;color:#0edcff;background:#111;border-radius:10px;">'+msg.data+'</span></p>';

							$('.chat').append(html);

							//本地显示消息条数
							var mcount = parseInt($('.mcount').html()) + 1;
							$('.mcount').html(mcount);
						}
					}


					//房间人数变化消息	type=1
					if(msg.type == 1){

						//更新人数
						$('.pcount').html(msg.person.length);

						//更新成员
						var html = '';
						for(let i=0;i<msg.person.length;i++){
							
							if($('#creator').val() == $('#userName').val()){
								if(msg.person[i] == $('#creator').val()){
									html +='<li class="list-group-item"><span>'+msg.person[i]+'</span><span class="text-warning pull-right" style="padding:2px 10px;"><strong>房主</strong></span></li>';
								}else{
									html +='<li class="list-group-item"><span>'+msg.person[i]+'</span><button class="btn btn-danger btn-sm pull-right" data="'+msg.person[i]+'" onclick="removePerson(this)" style="padding:2px 10px;">踢出</button></li>';
								}
							}else{
								if(msg.person[i] == $('#creator').val()){
									html +='<li class="list-group-item"><span>'+msg.person[i]+'</span><span class="text-warning pull-right" style="padding:2px 10px;"><strong>房主</strong></span></li>';
								}else if(msg.person[i] == $('#userName').val()){
									html +='<li class="list-group-item"><span>'+msg.person[i]+'</span><span class="text-primary pull-right" style="padding:2px 10px;"><strong>我</strong></span></li>';
								}else{
									html +='<li class="list-group-item"><span>'+msg.person[i]+'</span></li>';
								}
							}
						}

						$('#person').html(html);

					}

					//踢出成员
					if(msg.type == 2){

						if($('#userName').val() == msg.data){
							alert('你已经被管理员踢出房间');
							window.location.href = "{:url('comunity/index')}";
						}

						//重新获取黑名单列表
						$.get("{:url('chat/getBlackList')}",
						{
							'room':$('#room').val(),
						},
						function(data){
							if(data.statu){
								// location.reload();
								var person = data.message;
								if(person.length == 0){
									var html = '<li class="list-group-item">无</li>';
								}else{
									var html = '';
									for(var i=0;i<person.length;i++){
										html += '<li class="list-group-item"><span>'+person[i]+'</span><button class="btn btn-danger btn-sm pull-right" data="'+person[i]+'" style="padding:2px 10px;" onclick="removeBlack(this)">解除</button></li>';
									}
								}

								$('#black').html(html);
							}
						})

					}

					//系统消息	type=3
					if(msg.type == 3){
						html = '<p class="text-center" style="font-size:10px;margin:5px 0;">'+msg.from+': '+msg.data+'</p>';
						$('.chat').append(html);
					}


					//解除踢出  type=4
					if(msg.type == 4){

						//重新获取黑名单列表
						$.get("{:url('chat/getBlackList')}",
						{
							'room':$('#room').val(),
						},
						function(data){
							if(data.statu){
								//成功解除
								// location.reload();
								var person = data.message;
								if(person.length == 0){
									var html = '<li class="list-group-item">无</li>';
								}else{
									var html = '';
									for(var i=0;i<person.length;i++){
										html += '<li class="list-group-item"><span>'+person[i]+'</span><button class="btn btn-danger btn-sm pull-right" data="'+person[i]+'" style="padding:2px 10px;" onclick="removeBlack(this)">解除</button></li>';
									}
								}

								$('#black').html(html);
							}
						})
					}


					//解散房间
					if(msg.type == 5){
						if($('#creator').val() != $('#userName').val()){
							alert('该房间已经被解散');
							window.location.href = "{:url('comunity/index')}";
						}
					}

					//管理员广播特殊消息		type=2



					$(".box").scrollTop($(".box")[0].scrollHeight);
					
				}



				//踢出成员
	
				function removePerson(a){
					var name = $(a).attr('data');
					
					$.get("{:url('chat/removePerson')}",
					{
						'room':$('#room').val(),
						'name':name
					},
					function(data){
						if(data.statu){
							//踢出成功
							alert(data.message);
							//广播消息
							var data = {'type':2,'message':'踢出成员','roomKey':$('#roomKey').val(),'user':name};
							
							ws.send(JSON.stringify(data));
						}
					})
				}
				
				//解除踢出限制
				function removeBlack(a){
					var name = $(a).attr('data');

					$.get("{:url('chat/removeBlack')}",
					{
						'room':$('#room').val(),
						'name':name
					},
					function(data){
						if(data.statu){
							//成功解除
							alert(data.message);
							//广播消息
							var data = {'type':4,'message':'解除踢出','roomKey':$('#roomKey').val(),'user':name};
							
							ws.send(JSON.stringify(data));
						}
					})
				}
				
				//解散房间
				$('#closeGroup').click(function(){

					$.get("{:url('chat/closeGroup')}",
					{
						'room':$('#room').val(),
						'name':name
					},
					function(data){
						if(data.statu){
							//踢出成功
							alert(data.message);
							//广播消息
							var data = {'type':5,'message':'解散房间','roomKey':$('#roomKey').val()};
							
							ws.send(JSON.stringify(data));
							window.location.href = "{:url('comunity/index')}";
						}
					})
				})
				

			
		</script> 		
		

		  
			
{/block}
