{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<div class="container container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
					  <h2>查重结果</h2>
					</div>
					<div style="padding-bottom:100px;">
						{present name="lunwenList"}
						<h4 class="text-warning">重复标题</h4>
						{volist name="lunwenList" id="lunwen"}
						<li class="text-danger" style="list-style:none;"><a href="{:url('index/paperDetail',['id'=>$lunwen.id])}" target="_blank">{$lunwen.lunwen_title}</a></li>
						{/volist}
						{/present}
						<h4 class="text-warning">重复句子</h4>
						<ul class="list-group">
							{volist name="result" id="res"}
							<li class="text-danger" style="list-style:none;">{$res.word}&nbsp;<a href="{:url('index/getWord',['id'=>$res.id])}" target="_blank">句子来源</a></li>
							{/volist}
						</ul>
						<p>重复率: <span class="text-success">{$p}</span>%</p>
					</div>
				</div>
				
{/block}