{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<div class="container container-fluid" id="pageContent">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header" id="tit">
					  <h2>{$paperInfo.rank_type}</h2>
					</div>
					

						<div class="text-center page-wrap" style="padding-bottom:50px;">
							<h4 class="btnAction">
								<!-- <button class="btn btn-light btn-sm pull-left" id="collect" style="margin-right:10px;">已收藏</button> -->
								<button class="btn btn-warning btn-sm pull-left" id="collect" style="margin-right:10px;outline:none">收藏</button>
								<!-- <button class="btn btn-primary btn-sm pull-left" id="borrow">已借阅</button> -->
								<button class="btn btn-success btn-sm pull-left" id="borrow" style="outline:none">借阅</button>
								
								<a href="{$paperInfo.url}" target="_blank">{$paperInfo.lunwen_title}</a>
								<button class="btn btn-info btn-sm pull-right" id="pdf" style="outline:none">pdf浏览</button>
							</h4>
							<p class="paper_info">发布者: {$paperInfo.writer} &nbsp;&nbsp;&nbsp;&nbsp;
								发布时间: {$paperInfo.addtime|date="Y/m/d"} &nbsp;&nbsp;&nbsp;&nbsp;
								阅读量 : {$paperInfo.pv} &nbsp;&nbsp;&nbsp;&nbsp;
							</p>
							<center class="lunwen" style="background:white;">
								<button class="btn btn-warning btn-sm" id="page_focus" style="position:absolute;right:30px;outline:none"><span class="glyphicon glyphicon-fullscreen"></span></button>
								<article class="page" id="lunwen">
								{volist name="$paperInfo.content" id="content" key="i"}
									<h3 class="text-left text-info"><span class="badge" style="-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;">{$i}</span></h3>
									<p class="" style="padding:0 10px;letter-spacing:2px;font-size:22px;">{$content|raw}</p><br><hr class="text-danger" />
								{/volist}
									<!-- <a href="#tit" style="-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;">回到顶部</a> -->
								</article>
								
								<div class="pdfcontent">
									<iframe class="media" src="/static/pdfjs-2.0.943-dist/web/viewer.html" file="{$paperInfo.lunwen_file}" width="100%" height="1000px"></iframe>
								</div>
							</center>
							<hr />
							<input type="hidden" name="paperId" id="paperId" value="{$paperInfo.id}" />
							<input type="hidden" id="userId" value=""/>
							<input type="hidden" id="collectaction" value=""/>
							<input type="hidden" id="borrowaction" value=""/>

							<!-- 文章高度 -->
							<input type="hidden" id="wordHeight" value="">
						</div>
				</div>

		<script type="text/javascript">

			//获取设备宽度
			if(window.screen.width < 500){
				$('#page_focus').remove();

				//自动适配专注模式
				$('nav').css('display','none');
				$('.page-header').css('display','none');
				$('.btnAction').css('display','none');
				$('.paper_info').css('display','none');
				$('body').css({
					'background':'#fff',
					'padding':'0'
				});
				$('.page-wrap').css({
					'padding':'0'
				});

				$('#pageContent').css({
					'margin':'0',
					'width':'100%',
				});
				$(this).remove();

				//修改页面字体大小
				$('p').css({
					'font-size':'24px'
				});

				$('*').css({
					'font-size':'24px'
				});
			}

			/*专注模式*/
			$('#page_focus').on('click',function(){
				$('nav').css('display','none');
				$('.page-header').css('display','none');
				$('.btnAction').css('display','none');
				$('.paper_info').css('display','none');
				$('body').css({
					'background':'#fff',
					'padding':'0'
				});
				$('.page-wrap').css({
					'padding':'0'
				});

				$('#pageContent').css({
					'margin':'0',
					'width':'100%',
				});
				$(this).remove();
			});

			/*笔记*/
			//获取鼠标选择文字
			function selectText(){
				if(document.Selection){       
					//ie浏览器
					return document.selection.createRange().text;     	 
				}else{    
					//标准浏览器
					return window.getSelection().toString();	 
				}	 
			}

			//在论文内
			$('.page').mousedown(function(e){

				var e = e || window.event; //浏览器兼容性   
                var elem = e.target || e.srcElement;  
                while (elem) { //循环判断至跟节点，防止点击的是div子元素  
                    if (elem.id && elem.id == 'add_notes') {  
                        return;  
                    }  
                    elem = elem.parentNode;  
                }

				if(document.Selection){       
					//ie浏览器
					document.selection.clear();    	 
				}else{    
					//标准浏览器
					window.getSelection().removeAllRanges();	 
				}
			})

			$('.page').mouseup(function(e){
				$('.biaoji').remove();

				var e = event || window.event;
			    var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
			    var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
			    var x = e.pageX || e.clientX + scrollX;
			    var y = e.pageY || e.clientY + scrollY;

				var text = selectText();
				if(text !== ''){
					var html = '<div class="biaoji" style="position:absolute;width:70px;height:auto;border-radius:3px;box-shadow:0px 1px 4px 0px #000;cursor:pointer;" data-notes="'+text+'"><button class="btn btn-info btn-sm" id="add_notes" style="outline:none;">添加笔记</button></div>';
					$('body').append(html);

					$('.biaoji').css({
						'top':y +'px',
						'left':x+'px',
					});


					//添加笔记
					$('#add_notes').on('click',function(){
						$.post("{:url('paper/addNotes')}",{'paper_id':$('#paperId').val(),'content':$('.biaoji').attr('data-notes')},function(data){

							if(data.status){
								$('.biaoji').css({
									'width':'90px',
									'padding':'3px',
									'background':'#fcf8e3',
									'color':'#239d98eb',
								});
								$('.biaoji').html(data.message);
							}else{
								$('.biaoji').css({
									'width':'90px',
									'padding':'3px',
									'background':'#fcf8e3',
									'color':'#ff0000eb',
								});
								$('.biaoji').html(data.message);
							}

						})
					});

				}else{
					$('.biaoji').remove();
				}



			});

			$(document).bind('click', function(e) {  
                var e = e || window.event; //浏览器兼容性   
                var elem = e.target || e.srcElement;  
                while (elem) { //循环判断至跟节点，防止点击的是div子元素
                	if (elem.id && elem.id == 'add_notes') {  
                        return;  
                    }

                    if (elem.id && elem.id == 'lunwen') {  
                        return;  
                    }  
                    elem = elem.parentNode;  
                }  
                if($('.biaoji').hasClass('biaoji')){
                	$('.biaoji').remove();
                }
            });
			/*笔记end*/


			//获取pdf文件名
			window.pdffile = $('iframe').attr('file');
			$('.pdfcontent').html('');
		    
		    //切换浏览模式
		    $('#pdf').on('click',function(){

		    	if($(this).html()=='pdf浏览'){
//		    		console.log('pdf模式');
		    		$('.page').addClass('hidden');
//					$('.pdfcontent').css('display','block');
					$('.pdfcontent').html('<iframe class="media" src="/static/pdfjs-2.0.943-dist/web/viewer.html" file="{$paperInfo.lunwen_file}" width="100%" height="1000px"></iframe>');
					$('.page').readmore('destroy');
					$(this).removeClass('btn-info');$(this).addClass('btn-warning');
					$(this).html('普通模式');

					// $(document).height($('html').height()+'px');
					// //调整页脚
					// $('#footer').css({
					// 	'position':'absolute',
					// 	'top':$('#pageContent').height()+70+'px'
					// });

					return false;

		    	}else if($(this).html()=='普通模式'){
//		    		console.log('普通模式');
		    		$('.page').removeClass('hidden');
//					$('.pdfcontent').css('display','none');
					$('.pdfcontent').html('');
//					readmore(i);
					$(this).addClass('btn-info');$(this).removeClass('btn-warning');
					$(this).html('pdf浏览');

					//初始化继续阅读
					var h = $('#wordHeight').val();
				  	ready(h);

					// $('#footer').remove();
		    		return false;
		    	}
		    	
			})

			//获取cookie值
			function getCookie(name) {
		      	var prefix = name + "="
		      	var start = document.cookie.indexOf(prefix)

		      	if (start == -1) {
		         	 return null;
		      	}

		      	var end = document.cookie.indexOf(";", start + prefix.length)
		      	if (end == -1) {
		       	   end = document.cookie.length;
		      	}

		      	return unescape(decodeURI(document.cookie.substring(start + prefix.length, end)));
		  	}

		  	$('#userId').val(getCookie('user_id'));



		  	//时间戳转日期格式
		  	/** 
			 * 时间戳转化为年 月 日 时 分 秒 
			 * number: 传入时间戳 
			 * format：返回格式，支持自定义，但参数必须与formateArr里保持一致 
			*/  
			function formatTime(number,format) {  
			  
			  var formateArr  = ['Y','M','D','h','m','s'];  
			  var returnArr   = [];  
			  
			  var date = new Date(number * 1000);  
			  returnArr.push(date.getFullYear());  
			  returnArr.push(formatNumber(date.getMonth() + 1));  
			  returnArr.push(formatNumber(date.getDate()));  
			  
			  returnArr.push(formatNumber(date.getHours()));  
			  returnArr.push(formatNumber(date.getMinutes()));  
			  returnArr.push(formatNumber(date.getSeconds()));  
			  
			  for (var i in returnArr)  
			  {  
			    format = format.replace(formateArr[i], returnArr[i]);  
			  }  
			  return format;  
			} 

			//数据转化  
			function formatNumber(n) {  
			  n = n.toString()  
			  return n[1] ? n : '0' + n  
			}


			//监听滚动条
			window.onscroll=function(){
				if($('.openRecommend').hasClass('openRecommend') == false){
					$('#sizeClick').click();
					return false;
				}

				// console.log('scroll: '+$(window).scrollTop());
				// console.log($(window).height()); 754
				// console.log('document: '+$(document).height());

				// console.log(Math.floor($(window).scrollTop()) + 1 + $(window).height());
				// console.log($(document).height());
				// return false;

				if(typeof $(window).scrollTop() === 'number'){
					if($(window).scrollTop() % 1 == 0){
						//是整数
						var height = $(window).scrollTop();
					}else{
						//是小数
						var height = Math.floor($(window).scrollTop()) + 1;
					}
					

					if (height + $(window).height() >= ($(document).height()-150)) {
			            //自动展开阅读
			            $('.carry').click();
			        }
				}

				//小屏幕不显示继续阅读
				if($('.carry').html() != ''){
					$('.carry').css('visibility','hidden');
					$('.carry').html('');
				}	
				
			}  

			//1秒后推送论文
			setTimeout(function(){

		    	$.get("{:url('recommend/push')}",{'consumer_id':$('#userId').val()},function(data){
		    		if(data.status){
		    			//成功获取推荐论文
		    			//渲染论文
		    			var paperList = JSON.parse(data.data);
		    			if(paperList.length > 0){
		    				var html = '<div class="col-md-4" style="position:fixed;top:230px;right:0;" id="recommend"><div class="list-group"><li class="list-group-item text-center"><span>推荐论文</span><button class="btn btn-sm btn-warning" id="sizeClick" style="margin-left:20px;outline:none;">收起</button></li>';

			    			for(var i=0;i<paperList.length;i++){
			    				if(paperList[i].id != $('#paperId').val()){
			    					html += '<a href="javascript:void(0);" data-id="'+paperList[i].id+'" target="_blank" class="list-group-item recom" style="padding:10px 5px;max-height:160px;overflow:hidden;"><h4 class="list-group-item-heading"><span>'+paperList[i].lunwen_title+'</span></h4><p class="text-right" style="margin:0;"><span class="pull-left"><small>专业: '+paperList[i].major+'</small></span><small>作者: '+paperList[i].writer+'</small></p><p class="text-right" style="margin:0;"><span class="pull-left"><small>分类: <span class="text-danger">'+paperList[i].rank_type+'</span> <span class="glyphicon glyphicon-arrow-right"></span> <span class="text-info">'+paperList[i].lunwen_rank+'</span></small></span><small style="color:#dfa600;">'+paperList[i].school_name+'</small></p><p class="text-right" style="margin:0;"><span class="pull-left"><small>阅读量：'+paperList[i].pv+'</small></span><small style="color:#dfa600;">发布时间:'+formatTime(paperList[i].addtime,'Y/M/D h:m:s')+'</small></p></a>';
			    				}	
			    			}

			    			html += '</div></div>';
			    			$('body').append(html);

			    			$('.recom').click(function(){
			    				var id = $(this).attr('data-id');
			    				// window.location.href = "http://www.papers.com/index/index/paperdetail/id/"+id+".html";
			    				window.open("/index/index/paperdetail/id/"+id+".html", '_blank');
			    			})

			    			//收起按钮
			    			$('#sizeClick').click(function(){

			    				$('#recommend').animate({
			    					'right':'-800px'
			    				});
			    				$('body').append('<div class="openRecommend" style="width:24px;height:100px;text-align:center;line-height:24px;writing-mode:lr-tb;background:#c8bfbf;position:fixed;top:50%;right:0;cursor:pointer;">打开推荐</div>');

			    				$('.openRecommend').click(function(){
			    					$('#recommend').animate({
				    					'right':'0px'
				    				});
				    				$(this).remove();
			    				})
			    			})
			    			//渲染结束
		    			}
		    		}
		    	})

		    },1000);
		   
		    //5分钟后增加阅读量
		    setTimeout(function(){
		    	$.get("{:url('paper/incPv')}",{'id':$('#paperId').val()},function(data){
		    	})

		    	//获得阅读积分
		    	$.get("{:url('Integral/paperIntegral')}",{'id':$('#paperId').val(),'type':2},function(data){
		    			// console.log(data.message);
		    	})

		    },1000*60*5);


		    //1分钟后发送请求
		    setTimeout(function(){
		    	//点击增加积分
		    	$.get("{:url('Integral/paperIntegral')}",{'id':$('#paperId').val(),'type':1},function(data){
		    			// console.log(data.message);
		    	})
		    },1000*60);


		    //获取收藏和借阅状态
		    $.get("{:url('paper/paperStatu')}",{'id':$('#paperId').val()},function(data){
	    		if(data.status){
	    			data = JSON.parse(data.message);
	    			if(data.collectaction){
	    				$('#collect').html('已收藏');
	    				$('#collect').removeClass('btn-warning').addClass('btn-light');
	    				$('#collectaction').val(1);
	    			}

	    			if(data.borrowaction){
	    				$('#borrow').html('已借阅');
	    				$('#borrow').removeClass('btn-success').addClass('btn-primary');
	    				$('#borrowaction').val(1);
	    			}
	    		}
	    	})
			
			
			//收藏功能
			$('#collect').on('click',function(){
				if($('#userId').val() == ''){
					alert('对不起，你还没有登录');
					return false;
				}
				$.get("{:url('index/collect')}",{'paper_id':$('#paperId').val(),'user_id':$('#userId').val(),'action':$('#collectaction').val()},function(data){
					console.log(data.message);
					if($('#collectaction').val() && data.status){
						//收藏增加积分
				    	$.get("{:url('Integral/paperIntegral')}",{'id':$('#paperId').val(),'type':1},function(data){

				    			location.reload();
				    	})
					}else{
						location.reload();
					}
					
				})
			})
			
			//借阅功能
			$('#borrow').on('click',function(){
				
				if($('#userId').val() == ''){
					alert('对不起，你还没有登录');
					return false;
				}
				$.get("{:url('index/borrow')}",{'paper_id':$('#paperId').val(),'user_id':$('#userId').val(),'action':$('#borrowaction').val()},function(data){
					if(data.status){
						alert(data.message);
					}
					location.reload();
				})
			})

		</script> 		
		
		<!-- 继续阅读插件 -->
		<script src="/static/readmore/readmore.js"></script>



		<script>

			window.onload = function(){
				$('#footer').remove();
			}

			//继续阅读添加积分
			function carryOn(){
				console.log('继续阅读');
			}
		  	
		  	//添加继续阅读
		  	function more(i,n){
		  		
		  		$('.page').readmore({
				    moreLink: '<a href="#" class="carry" onclick="carryOn()" style="margin-top:15px;text-decoration:none;">继续阅读</a>',
					lessLink: '<a href="#">收缩</a>',
				    maxHeight: i,
					beforeToggle: function() {},
					afterToggle: function() {
						if(i > height){
							$('.page').readmore({
							    moreLink: '<a href="#" class="carry" onclick="carryOn()" style="margin-top:15px;text-decoration:none;">继续阅读</a>',
								lessLink: '<a href="#">收缩</a>',
							    maxHeight: height,
								beforeToggle: function() {},
								afterToggle: function() {}
							});
							i = 0;
						}else{
							i = i+n;
							more(i,n);
						}
						
					}
				});
		  	}

		  	var height = parseInt($('.page').css('height'))+1;
			$('#wordHeight').val(height);

		  	//初始化继续阅读
		  	function ready(h){
				var n = height/5;
				var i = n;
				if(height > 1000){
					more(i,n);
				}
				
				
				if(i == 0){
					$('.page').readmore('destroy');
					$('.page').readmore({
				    	moreLink: '<a href="#" class="carry" onclick="carryOn()" style="margin-top:15px;text-decoration:none;">继续阅读</a>',
						lessLink: '<a href="#">收缩</a>',
					    maxHeight: height,
						beforeToggle: function() {},
						afterToggle: function() {}
					});
				}
		  	}
			
			
			ready(height);

		</script>
		  
			
{/block}
