{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<div class="container container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header" id="tit">
					  <h2>查重记录</h2>
					</div>
					
					<div class="list-group">
					{volist name="passList" id="pass" empty="<p class='text-warning'>暂无记录 , 赶紧去查重一下吧 !</p>"}
					  <a href="{:url('index/passRsult',['id'=>$pass.id])}" target="_blank" class="list-group-item" style="padding:10px 5px;max-height:160px;overflow:hidden;">
					    <h4 class="list-group-item-heading">{$pass.title} <span class="glyphicon glyphicon-book"></span></h4>
					    <p class="text-right" style="margin:0;color:#dfa600;"><small>{$pass.user_id|getschool}</small></p>
					    <p class="text-right" style="margin:0;color:#dfa600;"><small>{$pass.create_time|date='Y-m-d H:i:s'}</small></p>
					    <!--<h5 class="list-group-item-text" style="margin:0;"></h5>-->
					  </a>
					{/volist}	
					</div>
					<div class="page text-center">{$passList|raw}</div>
					<input type="hidden" id="userId" value="{$Think.session.user_id}"/>
			</div>
					
			<script>
				
			</script>		
		  		
			
{/block}


