{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<div class="container container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header" id="tit">
					  <h4>{$roomTitle}&nbsp;&nbsp;&nbsp;人数:<span class="pcount">{$pcount}</span>人&nbsp;&nbsp;&nbsp;消息:<span class="mcount">{$mcount}</span>条</h4>
					</div>
					{eq name="$creator" value="$Think.session.user_name"}
						<button id="closeGroup" type="button" class="btn btn-info btn-danger">解散房间</button>
					{/eq}
						<div class="row">
							<div class="col-md-8">
								<div class="box" style="height:400px;background:#d0e7e7;overflow-y:scroll;">
									<div class="chat" style="height:auto;background:#d0e7e7;">
										{volist name="$messageList" id="message" key="i"}
										
										{eq name="$Think.session.user_name" value="$message->from"}
										<p style="padding:10px;margin-bottom:5px;position:relative;" class="text-right">
											<span class="text-left" style="word-break:break-all;display:inline-block;max-width:150px;height:auto;margin-right:150px;padding:10px;letter-spacing:1px;border:1px solid #000;color:#0edcff;background:#111;border-radius:10px;">{$message->data}</span>
											<span style="position:absolute;top:0;right:0px;">
												&nbsp;&nbsp;&nbsp;&nbsp;{$message->from}&nbsp;&nbsp;
												<img src="/static/images/icon.jpg" class="img-circle" style="width:40px;height:40px;margin:5px;"/>
											</span>
										</p>
										{/eq}
										
										{neq name="$Think.session.user_name" value="$message->from"}
										<p class="text-center">{$message->time|date='H:i:s'}</p>
										<p style="padding:10px;margin-bottom:5px;position:relative;">
											<span style="position:absolute;top:0;left:0px;">
												<img src="/static/images/icon.jpg" class="img-circle" style="width:40px;height:40px;margin:5px;"/>
												{$message->from}&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
											<span style="word-break:break-all;display:inline-block;max-width:150px;height:auto;margin-left:150px;padding:10px;letter-spacing:1px;border:1px solid #000;color:#0edcff;background:#111;border-radius:10px;">{$message->data}</span>
										</p>
										{/neq}
										
										{/volist}
									</div>
								</div>
								
								<div class="form-group">
									<input type="text" style="width:89%;float:left;" class="form-control" name="message" id="message" value="" />
									<button id="send" type="button" class="btn btn-info btn-sm">发送</button>
								</div>
							</div>
							<div class="col-md-3" style="margin-left:10px;">
								<div>
									<h4>所有成员&nbsp;&nbsp;<button class="btn btn-success btn-sm">刷新</button></h4>
									<ul class="list-group" id="person">
										
									</ul>
									{eq name="$creator" value="$Think.session.user_name"}
										<h4>黑名单</h4>
										<ul class="list-group">
											{volist name="blackList" id="black" empty="<li class='list-group-item'>无</li>"}
												<li class="list-group-item">
													<span>{$black}</span>
													<button class="btn btn-danger btn-sm pull-right remove" data="{$black}" style="padding:2px 10px;">解除</button>
												</li>
											{/volist}
										</ul>
									{/eq}
								</div>
							</div>
						</div>
						<input type="hidden" id="userName" value="{$Think.session.user_name}"/>
						<input type="hidden" name="" id="room" value="{$roomTitle}" />
						<input type="hidden" name="" id="mcount" value="{$mcount}" />
						<input type="hidden" name="" id="creator" value="{$creator}" />	
						
				</div>
				
		<script type="text/javascript">
			
			$(".box").scrollTop($(".box")[0].scrollHeight);
			
			
			//每秒请求一次最新消息列表
			
			function getNewMessage(){
				
				$.get("{:url('index/getMessage')}",
				{
					'mcount':$('#mcount').val(),
					'room':$('#room').val()
				},
				function(data){
					
					if(data!==''){
						
						if(data == '404'){
							alert('房间被解散,请确认返回');
							location.href = "{:url('index/comunity')}";
						}
						
						
						var data = JSON.parse(data);
						
						$('.pcount').html(data.pcount);
						
						data = JSON.parse(data.messageList);
						
						var html = '';
						for(let i=0;i<data.length;i++){
							data[i] = JSON.parse(data[i]);
//							data[i].time = date('Y-m-d H:i:s');
							if(data[i].from == $('#userName').val()){
								html += '<p style="padding:10px;margin-bottom:5px;position:relative;" class="text-right"><span class="text-left" style="word-break:break-all;display:inline-block;max-width:150px;height:auto;margin-right:150px;padding:10px;letter-spacing:1px;border:1px solid #000;color:#0edcff;background:#111;border-radius:10px;">'+data[i].data+'</span><span style="position:absolute;top:0;right:0px;">&nbsp;&nbsp;&nbsp;&nbsp;'+data[i].from+'&nbsp;&nbsp;<img src="/static/images/icon.jpg" class="img-circle" style="width:40px;height:40px;margin:5px;"/></span></p>';
							}else{
								html += '<p style="padding:10px;margin-bottom:5px;position:relative;"><span style="position:absolute;top:0;left:0px;"><img src="/static/images/icon.jpg" class="img-circle" style="width:40px;height:40px;margin:5px;"/>'+data[i].from+'&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="word-break:break-all;display:inline-block;max-width:150px;height:auto;margin-left:150px;padding:10px;letter-spacing:1px;border:1px solid #000;color:#0edcff;background:#111;border-radius:10px;">'+data[i].data+'</span></p>';
							}
//							html += '<p style="padding:10px;margin-bottom:5px;">'+data[i].from+'&nbsp;:&nbsp;<span class="text-danger">'+data[i].data+'</span>&nbsp;&nbsp;&nbsp;'+data[i].time+'</p>'
							
							
						}
						$('.chat').append(html);
						$(".box").scrollTop($(".box")[0].scrollHeight);
						var mcount = parseInt($('#mcount').val()) + data.length;
						$('#mcount').val(mcount);
						$('.mcount').html(mcount);
					}
					
				})
			}
			
			setInterval(getNewMessage,3000);
			
			
			
			
			//获取房间所有成员
			function getPerson(){
				$.get("{:url('index/getPerson')}",
				{
					'room':$('#room').val()
				},
				function(data){
					
					if(data!==''){
												
						var data = JSON.parse(data);
						var status = 1;
						
						var html = '';
						for(let i=0;i<data.length;i++){
							
							if($('#creator').val() == $('#userName').val()){
								status = 0;
								if(data[i] == $('#creator').val()){
									html +='<li class="list-group-item"><span>'+data[i]+'</span><span class="text-warning pull-right" style="padding:2px 10px;"><strong>房主</strong></span></li>';
								}else{
									html +='<li class="list-group-item"><span>'+data[i]+'</span><button class="btn btn-danger btn-sm pull-right" data="'+data[i]+'" onclick="removePerson(this)" style="padding:2px 10px;">踢出</button></li>';
								}
							}else{
								if(data[i] == $('#creator').val()){
									html +='<li class="list-group-item"><span>'+data[i]+'</span><span class="text-warning pull-right" style="padding:2px 10px;"><strong>房主</strong></span></li>';
								}else if(data[i] == $('#userName').val()){
									status = 0;
									html +='<li class="list-group-item"><span>'+data[i]+'</span><span class="text-primary pull-right" style="padding:2px 10px;"><strong>我</strong></span></li>';
								}else{
									html +='<li class="list-group-item"><span>'+data[i]+'</span></li>';
								}
							}
						}
						
						if(status){
							alert('你已经被请出房间');
							location.href = "{:url('index/comunity')}";
						}
						
						$('#person').html(html);
						
					}
					
				})
			}
			
			//踢出成员
	
			function removePerson(a){
				var name = $(a).attr('data');
				
				$.get("{:url('index/removePerson')}",
				{
					'room':$('#room').val(),
					'name':name
				},
				function(data){
					if(data == '1'){
						//踢出成功
						location.reload();
					}
				})
			}
			
			//解除踢出限制
			$('.remove').on('click',function(){
				var name = $(this).attr('data');

				$.get("{:url('index/removeBlack')}",
				{
					'room':$('#room').val(),
					'name':name
				},
				function(data){
					if(data == '1'){
						//成功解除
						location.reload();
					}
				})
			})
			  
			setInterval(getPerson,1000);
			
			
			//发送消息
			$('#send').on('click',function(){
				
				var reg = /^\s*$/;
				if(reg.test($('#message').val())==true){
					alert('请输入内容');	
					$('#message').val('');
					return false;
				}
						
				$.ajax({
					type:"post",
					url:"{:url('index/send')}",
					data:{
						'message':$('#message').val(),
						'room':$('#room').val()
					},
					async:true,
					success:function(data){
//						console.log(data);
//						location.reload();
					}
				});
				$('#message').val('');
				return false;
			})
			
			$(document).bind("keydown",function(e){
		        // 兼容FF和IE和Opera    
			    var theEvent = e || window.event;    
			    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;    
			    if (code == 13) {    
			        //回车执行查询
			            $("#send").click();
			       }
			});
			
			
			//解散房间
			$('#closeGroup').on('click',function(){
										
				$.ajax({
					type:"get",
					url:"{:url('index/closeGroup')}",
					data:{
						'room':$('#room').val()
					},
					async:true,
					success:function(data){
						// console.log(data);
						location.href = "{:url('index/comunity')}";
					}
				});
				return false;
			})
		</script> 		
		

		  
			
{/block}
