{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<!-- <div class="menu visible-md-1">
						
		</div> -->
		<div class="container container-fluid">
			<div class="row">

				<!-- 讨论频道 -->
				<div class="col-md-12">
					<div class="page-header">
					  <h4 id="chat">
					  	讨论频道 <span style="display:block;float:right;">
					  	<span style="font-size:13px;color:#e39d9d;margin-right:20px;">当前数量:{$groupCount}</span>
					  	<a href="{:url('comunity/moreGroup')}" style="font-size:13px;color:#645f5f;">更多&nbsp;&gt;</a>
					  </span></h4>
					</div>					
					<div class="text-center">
						<div class="row">
							{volist name="$groupList" id="group" key="i"}
							<div class="col-md-3 col-xs-12">
								<div class="box" style="position:relative;width:100%;height:150px;border-radius:10px;background:#c3e5d1;margin-bottom:20px;overflow:hidden;">
									<h4 style="margin-top:40px;">{$group.name}</h4>
									<p class="text-warning" style="padding:0px 20px;font-size:12px;">{$group.title}</p>
									<a href="{:url('chat/room',['id'=>$group.id])}" class="croom btn btn-info btn-sm" style="display:block;position:absolute;width:50px;bottom:12px;left:50%;margin-left:-25px;">加入</a>
								</div>
							</div>
							{/volist}
							<div class="col-md-3 col-xs-12">
								<div class="box" style="position:relative;width:100%;height:150px;border-radius:10px;background:#c3e5d1;margin-bottom:20px;overflow:hidden;">
									<h3 style="margin-top:50px;"><span class="glyphicon glyphicon-plus"></span></h3>
									<a href="{:url('chat/createGroup')}" class="croom btn btn-success btn-sm" style="display:block;position:absolute;width:50px;bottom:12px;left:50%;margin-left:-25px;">创建</a>
								</div>
							</div>
						</div>
						<input type="hidden" id="userId" value="{$Think.session.user_id}"/>
				
					</div>
						
				</div>

				<!-- http://www.333ttt.com/up/s.php?q=%E5%BC%A0%E6%9D%B0&type=kuwo -->
				<!-- http://www.htqyy.com/top/hot -->
				<!-- 在线音乐 -->
				<div class="col-md-12">
					<div class="page-header">
					  <h4 id="music">
					  	在线音乐 <span style="display:block;float:right;">
					  	<span style="font-size:13px;color:#e39d9d;margin-right:20px;">当前数量:{$songNum}</span>
					  	<a href="{:url('comunity/moreMusic')}" style="font-size:13px;color:#645f5f;">更多&nbsp;&gt;</a>
					  </span></h4>
					</div>					
					<div class="text-center">
						<div class="row">
							<div class="col-md-6">
								<div class="list-group">
									<li class="list-group-item" style="font-weight:bold;color:#616adf;">推荐榜</li>
									{volist name="recommendList" id="song"}
								  	<li class="list-group-item item" style="text-align:left;">
										<div style="float:left;width:auto;text-align:center;margin-top:5px;">
											<span class="badge" style="float:none;padding:3px 3px;">{$i}</span>
										</div>										
										<div style="margin:5px 0 0 15px;display:inline-block;width:200px;float:left;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title="{$song.name}">{$song.name}</div>
										<div style="margin:5px 0 0 15px;display:inline-block;width:120px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title="{$song.singer}">{$song.singer}</div>
										<div style="margin:5px 0 0 15px;display:inline-block;width:130px;float:right;">
											<a class="play" href="javascript:void(0);" data-url="{$song.url}" title="播放" style="margin-left:15px;color:#ffc0cb;text-decoration:none;">
												<span class="glyphicon glyphicon glyphicon-play"></span>
											</a>
											<a class="download" href="javascript:void(0);" data-url="{$song.url|urlencode}" data-song="{$song.name}" title="下载" style="margin-left:15px;color:#44afd1;text-decoration:none;">
												<span class="glyphicon glyphicon-cloud-download"></span>
											</a>
											<a class="collect" href="javascript:void(0);" data-url="{$song.url}" data-song="{$song.name}" data-singer="{$song.singer}" title="收藏" style="margin-left:15px;color:#edb331;text-decoration:none;">
												<span class="glyphicon glyphicon-heart"></span>
											</a>
										</div>
									</li>
									{/volist}
								</div>
							</div>
							<div class="col-md-6">
								<div class="list-group">
									<li class="list-group-item" style="font-weight:bold;color:#e38171;">流行榜</li>
								{volist name="songList" id="song"}
								  <li class="list-group-item item" style="text-align:left;">
										<div style="float:left;width:auto;text-align:center;margin-top:5px;">
											<span class="badge" style="float:none;padding:3px 3px;">{$i}</span>
										</div>										
										<div style="margin:5px 0 0 15px;display:inline-block;width:200px;float:left;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title="{$song.name}">{$song.name}</div>
										<div style="margin:5px 0 0 15px;display:inline-block;width:120px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title="{$song.singer}">{$song.singer}</div>
										<div style="margin:5px 0 0 15px;display:inline-block;width:130px;float:right;">
											<a class="play" href="javascript:void(0);" data-url="{$song.url}" title="播放" style="margin-left:15px;color:#ffc0cb;text-decoration:none;">
												<span class="glyphicon glyphicon glyphicon-play"></span>
											</a>
											<a class="download" href="javascript:void(0);" data-url="{$song.url|urlencode}" data-song="{$song.name}" title="下载" style="margin-left:15px;color:#44afd1;text-decoration:none;">
												<span class="glyphicon glyphicon-cloud-download"></span>
											</a>
											<a class="collect" href="javascript:void(0);" data-url="{$song.url}" data-song="{$song.name}" data-singer="{$song.singer}" title="收藏" style="margin-left:15px;color:#edb331;text-decoration:none;">
												<span class="glyphicon glyphicon-heart"></span>
											</a>
										</div>
									</li>
								{/volist}
								</div>
							</div>
						</div>
						<video class="media" controls="controls" style="display:none;">
							<source src="" type="audio/mpeg">
						</video>
						<input type="hidden" id="userId" value="{$Think.session.user_id}"/>
				
					</div>
						
				</div>

				<!-- 娱乐视频 -->
				<div class="col-md-12">
					<div class="page-header">
					  <h4 id="video">
					  	MV视频 <span style="display:block;float:right;">
					  	<span style="font-size:13px;color:#e39d9d;margin-right:20px;">当前数量:{$mvCount}</span>
					  	<a href="{:url('comunity/moreMv')}" style="font-size:13px;color:#645f5f;">更多&nbsp;&gt;</a>
					  </span></h4>
					</div>					
					<div class="text-center">
						<div class="row">
							{volist name="$mvList" id="mv" key="i"}
							<div class="col-md-3 col-xs-6" style="margin-bottom:20px;">
								<div class="box" style="width:100%;height:150px;border-radius:1px;background:#c3e5d1;overflow:hidden;" onclick="playMv(this);" data-url="{$mv['mvUrl'][2]}">
									<div class="img" style="width:100%;height:100%;position:relative;">
										<img src="{$mv.picurl}" style="width:100%;height:100%">
										<div class="lv" style="color:#10ff02;line-height:150px;font-size:30px;">
											<span class="glyphicon glyphicon-play-circle"></span>
										</div>
									</div>
								</div>
								<div class="desc" style="width:100%;height:36px;background:#fff;position:relative;z-index:11;" title="{$mv.title}">
									<p style="height:100%;margin:0;line-height:36px;">{$mv.title|subtitle}</p>
								</div>
							</div>
							{/volist}
							
						</div>
						<input type="hidden" id="userId" value="{$Think.session.user_id}"/>
				
					</div>
						
				</div>



				

				
		<script type="text/javascript">

			if(window.screen.width < 500){
				$('.box').css({
					'height':'250px'
				});
			}

			//菜单
			// $('.menu').html('<ul><li>讨论频道</li><li>在线音乐</li><li>娱乐视频</li></ul>');			
			

			// 小设备隐藏菜单
			// if(window.screen.width < 300){
			// 	$('.menu').remove();
			// }

			$('.croom').on('click',function(e){
				if($('#userId').val() == ''){
					e.preventDefault();
					alert('对不起，你还没有登录');
				}
			})

			//菜单
			// $('.menu li').on('click',function(){
			// 	$(this).css('background','#fff').siblings('li').css('background','none');
			// 	var index = $('.menu li').index(this);
			// 	// console.log($('.row .col-md-12 .page-header h4').eq(index).offset().top);
			// 	$("html,body").animate({scrollTop:$('.row .col-md-12 .page-header h4').eq(index).offset().top-60},1000);//1000是ms,也可以用slow代替ss
			// })


			//监听滚动条
			// window.onscroll=function(){
			// 	var t =document.documentElement.scrollTop||document.body.scrollTop;
				// console.log(t);
				// console.log($('#chat').offset().top - 60);
				// console.log($('#music').offset().top - 60);
				// console.log($('#video').offset().top - 60);

				// console.log($('#music').offset().top + parseInt($('.row .col-md-12 .text-center').eq(1).css('height')) - 160);


				// if(t <= ($('#chat').offset().top + parseInt($('.row .col-md-12 .text-center').eq(0).css('height')) - 160)){
				// 	$('.menu li').eq(0).css('background','#fff').siblings('li').css('background','none');
				// 	return;
				// }else if(t <= ($('#music').offset().top + parseInt($('.row .col-md-12 .text-center').eq(1).css('height')) - 160)){
				// 	$('.menu li').eq(1).css('background','#fff').siblings('li').css('background','none');
				// 	return;
				// }else if(t <= 886){
				// 	$('.menu li').eq(2).css('background','#fff').siblings('li').css('background','none');
				// 	return;
				// }
			//}

			//播放控件
			$('.play').click(function(){
				// console.log($(this).parent('li'));
				$('.item').css('background','#fff');
				$(this).parent().parent().css('background','#ff6666');

				$('.glyphicon-pause').removeClass('glyphicon-pause').addClass('glyphicon-play');

				var url = $(this).attr('data-url');

				if($('.media')[0].src != url){
					$('.media')[0].src = url;
				}


				var paused = $('.media')[0].paused;
				if(paused){
					$('.media')[0].play();
					$(this).find('span').removeClass('glyphicon-play').addClass('glyphicon-pause');
					return false;
				}else{
					$('.media')[0].pause();
					$(this).find('span').removeClass('glyphicon-pause').addClass('glyphicon-play');
					return false;
				}

			})

			// 下载控件
			$('.download').click(function(){
				alert('服务器带宽不够，暂停下载服务');
				return false;
				var url = $(this).attr('data-url');
				var name = $(this).attr('data-song');	

				window.location.href = '/index/comunity/downloadMusic?name='+name+'&url='+url;

			})

			//收藏控件
			$('.collect').click(function(e){
				var that = this;
				var url = $(this).attr('data-url');
				var name = $(this).attr('data-song');
				var singer = $(this).attr('data-singer');

				$.post("{:url('comunity/collectMusic')}",{'url':url,'name':name,'singer':singer},function(data,err){
					if(data.status){
						$(that).css('color','red');
					}
				})
			})

			// 视频滤镜
			$('.lv').css({
				'width':'100%',
				'height':'100%',
				'position':'absolute',
				'background':'#000000',
				'top':0,
				'opacity':0.7,
				'display':'none',
			});

			$('.box').css('cursor','pointer');
			
			$('.box').hover(
				function(){
					$(this).find('.lv').css('display','block');
					$(this).find('.img img').css('transform','scale(1.2)');
					$(this).find('.desc p').css('color','#e95d5d');
				},
				function(){
					$(this).find('.lv').css('display','none');
					$(this).find('.img img').css('transform','scale(1)');
					$(this).find('.desc p').css('color','#000');
				}
			)

			// 播放mv
			function playMv(obj){
				var url = $(obj).attr('data-url');
				window.open(url, '_blank');
			}
		</script> 		
		<link rel="stylesheet" type="text/css" href="/static/css/comunity.css">
			
{/block}
