{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<div class="container container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header" id="tit">
					  <h2>
					  	讨论列表
					  </h2>
					</div>			
					<div class="text-center">
						<div class="row">
							{volist name="$groupList" id="group" key="i"}
							<div class="col-md-3 col-xs-4">
								<div class="box" style="width:100%;height:150px;border-radius:10px;background:#c3e5d1;margin-bottom:20px;overflow:hidden;">
									<h4 style="margin-top:40px;">{$group.name}</h4>
									<p class="text-warning" style="padding:0px 20px;font-size:12px;">{$group.title}</p>
									<a href="{:url('chat/room',['id'=>$group.id])}" target="_blank" id="come" class="btn btn-info btn-sm">加入</a>
								</div>
							</div>
							{/volist}
							<div class="col-md-3 col-xs-4">
								<div class="box" style="width:100%;height:150px;border-radius:10px;background:#c3e5d1;margin-bottom:20px;overflow:hidden;">
									<h3 style="margin-top:50px;"><span class="glyphicon glyphicon-plus"></span></h3>
									<a href="{:url('chat/createGroup')}" target="_blank" class="btn btn-success btn-sm">创建</a>
								</div>
							</div>
						</div>
						<input type="hidden" id="userId" value="{$Think.session.user_id}"/>
				
					</div>
				</div>
			</div>	
		  		
			<script>
				if(window.screen.width < 500){
					$('.box').css({
						'height':'250px'
					});
				}

				//加入房间
				$('#come').on('click',function(){
					if($('#userId').val() == ''){
						alert('对不起，你还没有登录');
						return false;
					}
					
				})
			</script>
{/block}


