{extend name="public:base2"}
		{block name="body"}
		<div class="clear"></div>
		<div class="container container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header" id="tit">
					  <h2>
					  	MV列表
					  </h2>
					</div>
					
					<div class="text-center">
						<div class="row">
							{volist name="$mvList" id="mv" key="i"}
							<div class="col-md-3 col-xs-6" style="margin-bottom:20px;">
								<div class="box" style="width:100%;height:150px;border-radius:1px;background:#c3e5d1;overflow:hidden;" onclick="playMv(this);" data-url="{$mv['mvUrl'][2]}">
									<div class="img" style="width:100%;height:100%;position:relative;">
										<img src="{$mv.picurl}" style="width:100%;height:100%">
										<div class="lv" style="color:#10ff02;line-height:150px;font-size:30px;">
											<span class="glyphicon glyphicon-play-circle"></span>
										</div>
									</div>
								</div>
								<div class="desc" style="width:100%;height:36px;background:#fff;position:relative;z-index:11;" title="{$mv.title}">
									<p style="height:100%;margin:0;line-height:36px;">{$mv.title|subtitle}</p>
								</div>
							</div>
							{/volist}
							
						</div>
						<input type="hidden" id="userId" value="{$Think.session.user_id}"/>
				
					</div>
			</div>	
		  		
			<script>
				if(window.screen.width < 500){
					$('.box').css({
						'height':'250px'
					});
				}
				// 视频滤镜
				$('.lv').css({
					'width':'100%',
					'height':'100%',
					'position':'absolute',
					'background':'#000000',
					'top':0,
					'opacity':0.7,
					'display':'none',
				});

				$('.box').css('cursor','pointer');
				
				$('.box').hover(
					function(){
						$(this).find('.lv').css('display','block');
						$(this).find('.img img').css('transform','scale(1.2)');
						$(this).find('.desc p').css('color','#e95d5d');
					},
					function(){
						$(this).find('.lv').css('display','none');
						$(this).find('.img img').css('transform','scale(1)');
						$(this).find('.desc p').css('color','#000');
					}
				)

				//播放mv
				function playMv(obj){
					var url = $(obj).attr('data-url');
					window.open(url, '_blank');
				}
			</script>
{/block}


