{include file="public/header"}
    <!-- Sidebar menu-->
   {include file="public/nav"}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-edit"></i> 贴子编辑</h1>
          <p>paper search of school</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">贴子管理</li>
          <li class="breadcrumb-item"><a href="{:url('site/index')}">贴子编辑</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">编辑贴子</h3>
            <div class="tile-body">
              <form action="{:url('savePost')}" name="example" method="post" enctype="multipart/form-data">
              	<input type="hidden" name="id" value="{$postInfo.id}">
                <div class="form-group">
                  <label class="control-label">标题</label>
                  <input class="form-control" name="title" type="text" value="{$postInfo.title}">
                </div>
                <div class="form-group">
                  <label class="control-label">副标题</label>
                  <input class="form-control" name="subtitle" type="text" value="{$postInfo.subtitle}">
                </div> 
                <div class="form-group">
                  <label class="control-label">内容</label>
                  <textarea name="content" class="form-control" style="height:600px;">{$postInfo.content|raw}</textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-warning">保存</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </main>
    
    {include file="public/footer2"}
    <script type="text/javascript" src="/static/docs/js/plugins/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/static/docs/js/plugins/select2.min.js"></script>
    <script type="text/javascript" src="/static/docs/js/plugins/bootstrap-datepicker.min.js"></script>
    
    <link rel="stylesheet" href="/static/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="/static/kindeditor/plugins/code/prettify.css" />
	<script charset="utf-8" src="/static/kindeditor/kindeditor.js"></script>
	<script charset="utf-8" src="/static/kindeditor/lang/zh_CN.js"></script>
	<script charset="utf-8" src="/static/kindeditor/plugins/code/prettify.js"></script>
    
    <script type="text/javascript">
    	KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="content"]', {
				cssPath : '/static/kindeditor/plugins/code/prettify.css',
				uploadJson : '/static/kindeditor/php/upload_json.php',
				fileManagerJson : '/static/kindeditor/php/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
				}
			});
			prettyPrint();
		});
		
    	
      $('#sl').click(function(){
      	$('#tl').loadingBtn();
      	$('#tb').loadingBtn({ text : "Signing In"});
      });
      
      $('#el').click(function(){
      	$('#tl').loadingBtnComplete();
      	$('#tb').loadingBtnComplete({ html : "Sign In"});
      });
      
      $('#demoDate').datepicker({
      	format: "yyyy/mm/dd",
      	autoclose: true,
      	todayHighlight: true
      });
      
      $('#demoSelect').select2();
      
      $('#rankselect').change(function(){
      	$.get("{:url('paper/getSele')}",{'rank_type':$(this).val()},function(data){
      		var html='';
      		for(n in data){
      			html += "<option value="+data[n]['sele_name']+">"+data[n]['sele_name']+"</option>";
      		}
      		$('#selelist').html(html);
      	})
      })
    </script>
  </body>
</html>