   {include file="public/header"}
    <!-- Sidebar menu-->
   {include file="public/nav"}
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> 用户列表</h1>
          <p>consumer list of school</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">用户管理</li>
          <li class="breadcrumb-item active"><a href="{:url('consumer/consumerList')}">用户列表</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>注册时间</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                	{volist name="consumerList" id="consumer"}
                  <tr>
                    <td>{$consumer.id}</td>
                    <td>{$consumer.name}</td>
                    <td>{$consumer.email}</td>
                    <td>{$consumer.create_time|date='Y/m/d'}</td>
                    {if $consumer.status}
                    <td class="text-success">正常</td>
                    {else /}
                    <td class="text-danger">冻结</td>
                    {/if}
                    <td colspan="2" class="text-center">
                    	{if $consumer.status}
	                    <a href="{:url('consumer/banConsumer',['id'=>$consumer.id])}"><button class="btn btn-sm btn-secondary" type="button">冻结</button></a>
	                    {else /}
	                    <a href="{:url('consumer/reConsumer',['id'=>$consumer.id])}"><button class="btn btn-sm btn-info" type="button">恢复</button></a>
	                    {/if}
                    	<a href="#" class="deleConsumer" consumerId="{$consumer.id}"><button class="btn btn-sm btn-danger" type="button">删除</button></a>
                    </td>
                  </tr>
                  {/volist}

                </tbody>
              </table>
              <div class="page">{$consumerList|raw}</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    {include file="public/footer2"}
    
    <script type="text/javascript" src="/static/docs/js/plugins/sweetalert.min.js"></script>


    <script type="text/javascript">
		$('.page ul li').addClass('page-item');
		$('.page ul li a').addClass('page-link');
		$('.page ul li span').addClass('page-link');
		
       //删除用户
      $('.deleConsumer').click(function(){
      	var consumerId = $(this).attr('consumerId');
      	swal({
      		title: "确定要删除?",
      		text: "删除后将不能恢复!",
      		type: "warning",
      		showCancelButton: true,
      		confirmButtonText: "是的",
      		cancelButtonText: "不可以",
      		closeOnConfirm: false,
      		closeOnCancel: false
      	}, function(isConfirm) {
      		if (isConfirm) {
      			$.get("{:url('consumer/deleConsumer')}",{id:consumerId},function(data){
      				if(data.status == 0){
      					swal(data.message, "未实施任何操作", "error");
      				}else if(data.status == 1){
      					swal("已删除!", "用户的所有信息已删除", "success");
      					window.location.href = "{:url('consumer/consumerList')}";
      				}
      			})
      		} else {
      			swal("已取消", "未实施任何操作", "error");
      		}
      	});
      	
      	return false;
      });
    </script>
  </body>
</html>