
</div>
</div>
<div class="clear"></div>
<div id="footer" style="width:100%;text-align:center;padding:5px 0px;color:rgba(57,182,212,1);">&copy;&nbsp;paper.com&nbsp;论文库</div>
</body>
	<div class="modal fade loginmodel" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="background:#e3dede;">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">用户登录</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	          	<label for="message-text" class="control-label">邮箱</label>
	            <div class="input-group">
				  <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
				  <input type="text" class="form-control" id="email" placeholder="邮箱" aria-describedby="sizing-addon2">
				</div>
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="control-label">密码</label>
	            <div class="input-group">
				  <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-lock"></span></span>
				  <input type="password" class="form-control" id="password" placeholder="密码" aria-describedby="sizing-addon2">
				</div>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	      	<div class="otherLogin" style="float:left;letter-spacing:1px;">
	      		<span>其他方式 :</span>
	      		<a href="{:url('index/qqLogin')}" style="text-decoration:none;">
	      			<img src="/static/images/Connect_logo_1.png" title="QQ登录" style="width:cursor:pointer;">
	      		</a>
	      		<a href="" style="font-size:13px;color:#a50606;padding-left:10px;">
	      			找回密码?
	      		</a>
	      		<!-- <img src="/static/images/Connect_logo_1.png" onclick="toLogin();" style="cursor:pointer;"> -->
	      	</div>
	        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-info btn-sm" id="login">登录</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="modal fade registermodel" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="background:#e3dede;">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">用户注册</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
	          	<label for="message-text" class="control-label">用户名</label>
	            <div class="input-group">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				  <input type="text" class="form-control" id="reg_name" autocomplete="off" placeholder="用户名" aria-describedby="sizing-addon2">
				</div>
	          </div>
	          <div class="form-group" style="position:relative;">
	          	<label for="message-text" class="control-label">学校名</label>
	            <div class="input-group">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-dashboard"></span></span>
				  <input type="text" class="form-control" id="reg_schoolname" autocomplete="off" placeholder="学校名" aria-describedby="sizing-addon2">
				  <ul id="auto_school" style="position:absolute;top:35px;max-height:200px;overflow-y:scroll;padding:0;margin:0;z-index:999;box-shadow:0px 1px 4px 0px #cac4c4;">
				  	<!-- <li style="list-style:none;background:#ebeaea;padding:5px 15px;">景德镇陶瓷大学</li>
				  	<li style="list-style:none;background:#ebeaea;padding:5px 15px;">景德镇陶瓷科技艺术学院</li> -->
				  </ul>
				</div>
	          </div>
	          <div class="row">
	          	<div class="col-md-6 col-xs-12">
	          		<div class="form-group">
			          	<label for="message-text" class="control-label">邮箱</label>
			            <div class="input-group">
						  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
						  <input type="email" class="form-control" id="reg_email" autocomplete="off" placeholder="邮箱" aria-describedby="sizing-addon2">
						</div>
			        </div>
	          	</div>
	          	<div class="col-md-2 col-sm-3 col-xs-4">
	          		<div class="form-group">
	          			<label for="message-text" class="control-label" style="width:28px;height:20px;"></label><br>
			          	<button type="button" class="btn btn-primary btn-sm" id="sendEmail">验证邮箱</button>
			        </div>
	          	</div>
	          	<div class="col-md-3 col-sm-4 col-xs-6">
	          		<div class="form-group">
	          			<label for="message-text" class="control-label">验证码</label>
			          	<input type="email" class="form-control" id="reg" autocomplete="off" placeholder="输入验证码" aria-describedby="sizing-addon2">
			        </div>
	          	</div>
	          </div>
	          
	          <div class="form-group">
	            <label for="message-text" class="control-label">密码</label>
	            <div class="input-group">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				  <input type="password" class="form-control" id="reg_password" autocomplete="off" placeholder="密码" aria-describedby="sizing-addon2">
				</div>
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="control-label">确认密码</label>
	            <div class="input-group">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-repeat"></span></span>
				  <input type="password" class="form-control" id="confirm_password" autocomplete="off" placeholder="确认密码" aria-describedby="sizing-addon2">
				</div>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-warning btn-sm" id="register">注册</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</html>

<script type="text/javascript" src="/static/js/campus.js"></script>
<script>
	//调整body离nav的位置
	if(window.screen.width < 1200){
		$('body').css('paddingTop','120px');
	}
	
//	alert(document.body.scrollHeight);
	$('#footer').css({
		'position':'absolute',
		'top':$(document).height()+30+'px'
	});
	

	// 提示输入
	function search(item){
		var input = $('#reg_schoolname').val();

		return item.indexOf(input) >= 0;
	}

	$('#reg_schoolname').on('input',function(){
		var input = $('#reg_schoolname').val();

		var data = campus.filter(search);
		if(data.length > 0 && input!=''){

			var html = '';
			for(var i=0;i<data.length;i++){
				html += '<li class="autoItem" style="list-style:none;background:#ebeaea;padding:5px 15px;border-bottom:1px solid #bcb6b6;cursor:pointer;">'+data[i]+'</li>';
			}

			$('#auto_school').html(html);

			$('.autoItem').hover(function(){
				$(this).css('background','#cec3c3');
			},function(){
				$(this).css('background','#ebeaea');
			})


			$('.autoItem').on('click',function(){
				$('#reg_schoolname').val($(this).html());
				$('#auto_school').html('');
			})

		}else{
			$('#auto_school').html('');
		}

	})
	
	//点击其他地方关闭
	$('body').on('click',function(){
		$('#auto_school').html('');
	})

	//提示输入结束


	//验证邮箱
	$('#sendEmail').on('click',function(){
		var email  = $('#reg_email').val();

		var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if(!myreg.test(email))
        {
            alert('请输入正确的邮箱格式');
            return false;
        }
		$.get("{:url('consumer/mailValidation')}",{'email':email},function(data){
			if(!data.status){
				alert(data.message);
			}else{
				alert(data.message);
				$('#sendEmail').attr('disabled','disabled');
				$('#sendEmail').html('已发送');
			}
		})
	})



	$('#logout').on('click',function(e){
		e.preventDefault();
		$.ajax({
			type:"get",
			url:"{:url('consumer/logout')}",
			async:true,
			success:function(data){	
//				alert(data.message);
				window.location.href="{:url('index/index/index')}";
			},
			error:function(data){
				alert(data.message);
				history.back();
			},
		});
		return false;
	})

	$('#login').on('click',function(e){
		e.preventDefault();
		var email  = $('#email').val();
		var pass = $('#password').val();
		$.ajax({
			type:"post",
			url:"{:url('index/consumer/login')}",
			async:true,
			data:{
				'email':email,
				'password':pass
			},
			success:function(data){
				if(data.status == 1){
					window.location.href="{:url('index/index/index')}";
				}else{
					alert(data.message);
				}
			},
			error:function(data){
				alert(data.message);
//				history.back();
			},
		});
		return false;
	})
	
	
	$('#register').on('click',function(e){
		e.preventDefault();
		var name  = $('#reg_name').val();
		var schoolname  = $('#reg_schoolname').val();
		var email  = $('#reg_email').val();
		var reg =  $('#reg').val();
		var pass = $('#reg_password').val();
		var confirm_pass = $('#confirm_password').val();
		
		$.ajax({
			type:"post",
			url:"{:url('index/consumer/register')}",
			async:true,
			data:{
				'name':name,
				'school_name':schoolname,
				'email':email,
				'reg':reg,
				'password':pass,
				'password_confirm':confirm_pass,
			},
			dataType:"json",
			success:function(data){
				alert(data.message);
				if(data.status == 1){
					window.location.href="{:url('index/index/index')}";
				}
			},
			error:function(data){
				alert(data.message);
//				history.back();
			},
		});
		return false;
	})
	
	$(".loginmodel").bind("keydown",function(e){
        // 兼容FF和IE和Opera    
	    var theEvent = e || window.event;    
	    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;    
	    if (code == 13) {    
	        //回车执行查询
	            $("#login").click();
	       }
	});
	
	$(".registermodel").bind("keydown",function(e){
        // 兼容FF和IE和Opera    
	    var theEvent = e || window.event;    
	    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;    
	    if (code == 13) {    
	        //回车执行查询
	            $("#register").click();
	       }
	});


	// 小设备去掉页脚
	if(window.screen.width < 500){
		$('#footer').remove();
	}

	$('#footer').remove();
	//qq登录
	function toLogin()
	{
	   //以下为按钮点击事件的逻辑。注意这里要重新打开窗口
	   //否则后面跳转到QQ登录，授权页面时会直接缩小当前浏览器的窗口，而不是打开新窗口
	   var A=window.open("extend/Connect2.1/index.php","TencentLogin",
	   "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
	}
</script>