<!--导航-->
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{:url('/')}"><span class="glyphicon glyphicon-education"></span> 本科论文库</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
				{volist name="rankList" id="rank"}
		        
		         <li
		         {//用请求对象从URL地址分析中当前的分类id}
		         
		         {eq name="$rank.rank_name" value="$Request.param.rank_name"}
		         	class="active"
		         {/eq}
		         	><a class="small" href="{:url('index/index',['rank_name'=>$rank.rank_name])}">{$rank.rank_name}</a></li>
		        
		        {/volist}
		        <li 
		        {eq name="$active" value="1"}
		         	class="active"
		         {/eq}	
		        	><a class="small" href="{:url('paper/rank')}" style="text-decoration:underline;">&gt;&gt;更多</a></li>
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-left">
		      	<li>
		      		<a href="{:url('comunity/index')}" style="margin-left:20px;color:#c09720;letter-spacing:1px;"><strong>社区&nbsp;&nbsp;<span class="glyphicon glyphicon-comment" style="color:#baaf20fc;"></span></strong></a>
		      	</li>
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		      	<form action="{:url('index/index')}" class="navbar-form navbar-left" method="get">
			        <div class="form-group">
			          <input type="text" name="keywords" class="form-control" placeholder="搜索论文" 
			          	{present name="keywords"}
							value="{$keywords}"
						{/present}
						>
			        </div>
			        <button type="submit" id="searchPaper" class="btn btn-sm btn-info">搜索</button>
			    </form>
		        {if !$Think.Session.user_name}
		        <li><a href="" data-toggle="modal" data-target=".loginmodel">登录</a></li>
		        <li><a href="" data-toggle="modal" data-target=".registermodel">注册</a></li>
		        {/if}
		        {if $Think.Session.user_name}

		        <li style="width:50px;line-height:50px;text-align:center;font-size:16px;color:#a7b3c6;cursor:pointer;"><span class="glyphicon glyphicon-bell" data-toggle="tooltip" data-placement="bottom" title="通知"></span></li>

		        <li><a href="" class="user_id" style="cursor:pointer;padding:0px;"><img src="" data-src="/static/images/userimg/1.jpg" class="img-circle user_img" style="width:40px;height:40px;margin:5px;visibility:hidden;"/></a></li>

		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="user_name">{$Think.Cookie.user_name}</span><span class="caret"></span></a>
		          <ul class="dropdown-menu">
		          	<!--<li class="text-center"><a href="{:url('index/uploadPaper')}">上传论文</a></li>
		          	<li role="separator" class="divider"></li>-->
		          	<li class="text-center"><a href="{:url('consumer/bcDetail')}">收藏和借阅</a></li>
		          	<li role="separator" class="divider"></li>
		          	<li class="text-center"><a href="{:url('check/paperpass')}">论文查重</a></li>
		          	<li role="separator" class="divider"></li>
		          	<li class="text-center"><a href="{:url('consumer/setting')}">用户设置</a></li>
		          	<li role="separator" class="divider"></li>
		            <li class="text-center"><a href="javascript:void(0);" id="logout">退出登录</a></li>
		          </ul>
		        </li>
		        {/if}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip();
	})

	function trimStr(str){return str.replace(/(^\s*)|(\s*$)/g,"");}
	
	$('#searchPaper').on('click',function(e){
		if(trimStr($("input[name='keywords']").val())===''){
			alert('请输入关键字');
			e.preventDefault();
			// location.reload();
			return false;
		}
	})

	//获取用户头像cookie值
	function getCookie(name) {
      	var prefix = name + "="
      	var start = document.cookie.indexOf(prefix)

      	if (start == -1) {
         	 return null;
      	}

      	var end = document.cookie.indexOf(";", start + prefix.length)
      	if (end == -1) {
       	   end = document.cookie.length;
      	}

      	return unescape(decodeURI(document.cookie.substring(start + prefix.length, end)));
  	}

  	//设置用户cookie
	$('#user_name').html(getCookie('user_name'));
	var user_img = getCookie('user_img')
	if(user_img){
		$('.user_img').attr('src',user_img);
	}else{
		$('.user_img').attr('src',$('.user_img').attr('data-src'));
	}

	var user_id = getCookie('user_id')
	if(user_id){
		$('.user_id').attr('href','/index/consumer/userDetail/id/'+user_id);
	}
	$('.user_img').css('visibility','visible');

</script>