<div class="col-md-4 col-xs-12">
	<div class="page-header">
	  <h4>标签 <small><span class="glyphicon glyphicon-tag"></span></small></h4>
	</div>
	<div>
		<h4 style="display:inline-block"><span class="label label-info">论文</span></h4>
		<h4 style="display:inline-block"><span class="label label-warning">本科</span></h4>
		<h4 style="display:inline-block"><span class="label label-primary">毕业</span></h4>
		<h4 style="display:inline-block"><span class="label label-default">分类</span></h4>
		<h4 style="display:inline-block"><span class="label label-danger">查重</span></h4>
		<h4 style="display:inline-block"><span class="label label-success">收藏</span></h4>
		<h4 style="display:inline-block"><span class="label" style="background:#5ca0b8;">借阅</span></h4>
	</div>
	<div class="page-header">
	  <h4>热门论文 <small><span class="glyphicon glyphicon-fire text-danger"></span></small></h4>
	</div>
	<div class="list-group">
	{volist name="hotPaper" id="paper"}
	  <a href="{:url('paper/paperDetail',['id'=>$paper.id])}" class="list-group-item">
	    	<span class="badge" style="background-color:#fff;font-weight:normal;padding:0;">
<!-- 	    		<p style="color:#000;margin:0;background-color:#fff;border-radius:10px;">阅读量: {$paper.pv}</p> -->
	    		<p style="color:#6c5959;margin:0;padding:4px;background-color:#ffe5e5;border-radius:10px;">{$paper.lunwen_rank}</p>
	    	</span>
    		{$paper.lunwen_title}
	  </a>
	{/volist}
	</div>

	
	<div class="page-header">
	  <h4>最新贴子 <small><span class="glyphicon glyphicon-paperclip"></span></small></h4>
	</div>
	<div class="list-group">
	{volist name="postList" id="post"}
	  <a href="{:url('posts/postDetail',['id'=>$post.id])}" class="list-group-item" style="padding:10px 5px;max-height:160px;overflow:hidden;">
	    <h4 class="list-group-item-heading">{$post.title} <span class="glyphicon glyphicon-pencil"></span></h4>
	    <p class="text-right" style="margin:0;"><span class="pull-left">{$post.subtitle}</span><small>发帖人: {$post.writer}</small></p>
	    <p class="text-right" style="margin:0;color:#dfa600;"><small>{$post.user_id|getschool}</small></p>
	    <!--<h5 class="list-group-item-text" style="margin:0;"></h5>-->
	    <!--<div class="list-group-item-text" style="padding:10px 5px;">{$post.content|raw}</div>-->
	  </a>
	{/volist}
	<a class="btn btn-block btn-sm btn-info" style="margin-top:10px;" href="{:url('posts/morePost')}">更多<span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
</div>

