{include file="public/header"}
    <!-- Sidebar menu-->
   {include file="public/nav"}
    <main class="app-content">
      <div class="row user">
        <div class="col-md-12">
          <div class="profile">
            <div class="info"><img class="user-img" style="max-width:48px;max-height:48px;" src="{$userInfo.user_img|default='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg'}">
              <h4>{$Think.session.admin_name}</h4>
              <p>
              	{if $Think.session.admin_level}	
	          	<small class="text-light">{$Think.session.school}</small>
	          	<br>
	          	<small class="text-danger">超级管理员</small>
	          	{else /}
	          	<small class="text-light">{$Think.session.school}</small>
	          	<br>
	          	<small  class="text-warning">普通管理员</small>
	          	{/if}
              </p>
            </div>
            <div class="cover-image"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile p-0">
            <ul class="nav flex-column nav-tabs user-tabs">
              <!--<li class="nav-item"><a class="nav-link" href="#user-timeline" data-toggle="tab">消息</a></li>-->
              <li class="nav-item"><a class="nav-link active" href="#user-settings" data-toggle="tab">设置</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
          	
            <!--<div class="tab-pane fade" id="user-timeline">
              <div class="timeline-post">
                <div class="post-media"><a href="#"><img src="{$userInfo.user_img|default='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg'}" style="width:48px;height:48px;"></a>
                  <div class="content">
                    <h5><a href="#">John Doe</a></h5>
                    <p class="text-muted"><small>2 January at 9:30</small></p>
                  </div>
                </div>
                <div class="post-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <ul class="post-utility">
                  <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Like</a></li>
                  <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Share</a></li>
                  <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> 5 Comments</li>
                </ul>
              </div>
              <div class="timeline-post">
                <div class="post-media"><a href="#"><img src="{$userInfo.user_img|default='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg'}" style="width:48px;height:48px;"></a>
                  <div class="content">
                    <h5><a href="#">John Doe</a></h5>
                    <p class="text-muted"><small>2 January at 9:30</small></p>
                  </div>
                </div>
                <div class="post-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <ul class="post-utility">
                  <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Like</a></li>
                  <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Share</a></li>
                  <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> 5 Comments</li>
                </ul>
              </div>
            </div>-->
            
            <div class="tab-pane active" id="user-settings">
              <div class="tile user-settings">
                <h4 class="line-head">用户设置</h4>
                <form action="{:url('user/saveSetting')}" method="post" enctype="multipart/form-data">
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <label>用户名</label>
                      <input class="form-control" name="username" type="text" value="{$userInfo.username}">
                    </div>
                    <div class="col-md-4">
                      <label>密码</label>
                      <input class="form-control" name="password" type="password" value="{$userInfo.password}">
                    </div>
                    <input class="form-control" name="pass" type="hidden" value="{$userInfo.password}">
                  </div>
                  <div class="row">
                    <div class="col-md-8 mb-4">
                      <label>邮箱</label>
                      <input class="form-control" name="email" type="text" value="{$userInfo.email}">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-8 mb-4">
                      <label>手机号</label>
                      <input class="form-control" name="phone" type="text" value="{$userInfo.phone}">
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-8 mb-4">
                      <label>用户头像</label>
                      <input type="file" name="user_img" id="input-file-disable-remove" class="dropify" data-default-file="{$userInfo.user_img}"  data-show-remove="false" data-max-file-size="2M" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-8 mb-4">
                      <label>网站主题颜色</label>
					  <input type="hidden" name="sitecolor" id="hidden-input" class="demo" value='{$userInfo.sitecolor|default='#009688'}'>
                    </div>
                  </div>
                  <div class="row mb-10">
                    <div class="col-md-12">
                      <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> 保存</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
   
   {include file="public/footer2"}
   
    <script src="/static/dropify/dist/js/dropify.min.js"></script>
    <script src="/static/jquery-minicolors/jquery.minicolors.js"></script>

	<link rel="stylesheet" href="/static/jquery-minicolors/jquery.minicolors.css">
	<link rel="stylesheet" href="/static/dropify/dist/css/demo.css">
    <link rel="stylesheet" href="/static/dropify/dist/css/dropify.min.css">
    
    <script>
            $(document).ready(function(){
                // Basic
                $('.dropify').dropify();

                // Translated
                $('.dropify-fr').dropify({
                    messages: {
                        default: 'Glissez-déposez un fichier ici ou cliquez',
                        replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                        remove:  'Supprimer',
                        error:   'Désolé, le fichier trop volumineux'
                    }
                });

                // Used events
                var drEvent = $('#input-file-events').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });

                drEvent.on('dropify.errors', function(event, element){
                    console.log('Has Errors');
                });

                var drDestroy = $('#input-file-to-destroy').dropify();
                drDestroy = drDestroy.data('dropify')
                $('#toggleDropify').on('click', function(e){
                    e.preventDefault();
                    if (drDestroy.isDropified()) {
                        drDestroy.destroy();
                    } else {
                        drDestroy.init();
                    }
                })
            });
        </script>
        <script>

		$(document).ready( function() {

			

            $('.demo').each( function() {

				$(this).minicolors({

					control: $(this).attr('data-control') || 'hue',

					defaultValue: $(this).attr('data-defaultValue') || '',

					inline: $(this).attr('data-inline') === 'true',

					letterCase: $(this).attr('data-letterCase') || 'lowercase',

					opacity: $(this).attr('data-opacity'),

					position: $(this).attr('data-position') || 'bottom left',

					change: function(hex, opacity) {

						var log;

						try {

							log = hex ? hex : 'transparent';

							if( opacity ) log += ', ' + opacity;

							console.log(log);

						} catch(e) {}

					},

					theme: 'default'

				});

                

            });

			

		});

	</script>

  </body>
</html>